* {
    box-sizing: border-box;
}

.container {
    display: block;
    margin: 0 auto;
}

.imt {
    text-align: center;
    margin-top: 10px;
}

.result {
    padding-top: 8px;
    margin: 10px auto;
    text-align: center;
    border: solid;
    height: 40px;
    width: 180px;
    background-color: blue;
    color: white;
    cursor:grab;
} 
